@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

section {
    width: 100%;
}

.header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27);
    width: 100%;
    justify-content: space-between;
    height: 8vh;
}

.header__logo {
    margin-left: 20px;
    height: 98%;
}

.header__button {
    align-self: center;
    color: black;
    border: none;
    padding: 10px;
    margin-right: 20px;
    width: 125px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #44AAEE, #904CCB);
    font-weight: bolder;
}

.home {
    height: 95vh;
    display: flex;
    background-image: url(imagens/pexels-3motional-studio-407102-1081685.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.311);
}

.home__title {
    font-size: 6vh;
    margin: 20px 0px 20px 0px;
    color: white;
    margin-bottom: auto;
    margin-top: 20px;
}

.home__text {
    color: white;
    font-size: 4vh;
    margin: auto 30px;
    line-height: 1.5em;
}

.home__title--roxo {
    color: #904CCB;
}

.home__title--azul {
    color: #44AAEE;
}

.home__button {
    background-image: linear-gradient(to right, #44AAEE, #904CCB);
    border: none;
    width: 75vw;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
    font-size: 1.5em;
    font-weight: bolder;
    color: black;
}

.sobre {
    background-color: #0F1117;
    color: white;
    padding: 20px 50px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.444);
    text-align: center;
}

.sobre__title {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #904CCB;
}

.sobre__text {
    text-indent: 2em;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5em;
}

.sobre__text--roxo {
  color: #904CCB;
}

.servicos {
    background-image: linear-gradient(to bottom, #0F1116 0%, #000233 80%);
    display: flex;
    flex-direction: column;
    background-color: #0F1116;
    color: white;
    align-items: center;
}

.servicos__title {
    text-align: center;
    color: #904CCB;
    font-size: 2.5em;
    margin: 10px;
}

.servicos__card {
    padding: 10px;
    text-align: justify;
    background-color: #181c24;
    margin: 10px;
    width: 90vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.484);
    border-radius: 10px;
    line-height: 1.5em;
}

.servicos__card-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}

.servicos__card-text {
    text-indent: 2em;
}

.servicos__button {
    background-image: linear-gradient(to right, #44AAEE, #904CCB);
    border: none;
    width: 75vw;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
    font-size: 1.5em;
    font-weight: bolder;
    color: black;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1116;
    background-image: linear-gradient(to top, #904CCB 0%, #000233 90%);
}

.depoimentos__title {
    text-align: center;
    color: #904CCB;
    font-size: 2.5em;
}

.depoimentos__persona {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding: 15px;
    margin: 20px 0px;
    border: 1px solid black;
    width: 80vw;
    border-radius: 10px;
    background-color: #F7F7F9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.371);
}

.depoimentos__persona-img {
    width: 75px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.depoimentos__persona-nome {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Story Script", sans-serif;
}

.depoimentos__persona-prof {
    grid-column: 2 / 3;
    grid-row: 1/2;
    align-self: flex-end;
    color: gray;
    font-family: "Story Script", sans-serif;
    font-size: 1.1em;
}

.depoimentos__persona-text {
    text-indent: 2em;
    padding: 15px 0px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    line-height: 1.4em;
    font-family: sans-serif;
    font-size: 1.05em;
}

.contato {
    display: flex;
    text-align: center;
    background-color: #904CCB;
    padding: 10px;
    justify-content: center;
    
}

.contato__area {
    background-color: #181c24;
    width: 95vw;
    padding: 5px;
    border-radius: 15px;
}

.contato__title {
    font-size: 2.5em;
    color: #904CCB;
}

.contato__text {
    font-size: 1.2em;
    margin: 8px;
    color: white;
    font-weight: 500;
}

.contato__text--purple {
    font-size: 1.21em;
    color: #904CCB;
    font-weight: 900;
}

.contato__input {
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    border-radius: 8px;
}

.contato__button {
    padding: 7px;
    width: 50%;
    margin: 10px 0px;
    background-image: linear-gradient(to right, #44AAEE, #904CCB);
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 900;
}

footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    text-align: center;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

@media (min-width: 48em) {
  /* ajustes para tablets */
  .header__button {
    font-size: 2em;
    flex-shrink: 0;
    width: 270px;
  }

  .home__title {
    padding: 50px;
    font-size: 10vw;
  }

  .home__text {
    font-size: 8vw;
  }

  .home__button {
    font-size: 3em;
    width: 60%;
  }

  .sobre__title {
    font-size: 6vw;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .sobre__text {
    font-size: 3vw;
  }

  .servicos__title {
    font-size: 6vw;
  }

  .servicos__card {
    width: 70%;
    font-size: 2.5vw;
    padding: 30px;
  }


  .servicos__card-title {
    font-size: 4.5vw;
    margin-bottom: 40px;
  }

  .servicos__button {
    font-size: 3em;
    width: 60%;
  }

  .depoimentos__title {
    font-size: 6vw;
    margin: 50px;
  }

  .depoimentos__persona {
    width: 60%;
  }

  .depoimentos__persona-img {
    margin: 10px 20px 10px 30px;
    width: 10vw;
  }

  .depoimentos__persona-nome {
    font-size: 3vw;
    margin-right: auto;
    margin-top: 50px;
  }

  .depoimentos__persona-prof {
    font-size: 2vw;
  }

  .depoimentos__persona-text {
    font-size: 2vw;
  }

  .contato__area {
    width: 80%;
  }

  .contato__title {
    font-size: 6vw;
  }

  .contato__text {
    font-size: 3vw;
  }

  .contato__input {
    width: 60%;
    height: 4vh;
  }

  .contato__button {
    font-size: 1.5em;
  }
}

@media (min-width: 64em){
/* ajustes para desktop */
    .header {
        height: 12vh;
    }

   .header__logo {
    margin-left: 100px;
    width: 70px;
    height: 70px;
   }

   .header__button {
    font-size: 1vw;
    height: 70%;
    padding: 10px;
    width: 10vw;
    margin-right: 100px;
   }

   .home__title {
    font-size: 4vw;
    padding: 50px 300px;
   }

   .home__text {
    font-size: 3vw;
    margin-bottom: 20px;
   }

   .home__button {
    font-size: 1.3vw;
    width: 30%;
   }

   .sobre__title {
    font-size: 4vw;
   }

   .sobre__text {
    font-size: 2vw;
    width: 60vw;
    margin: auto;
   }

   .servicos__title {
    font-size: 4vw;
   }

   .servicos__card {
    width: 40%;
   }

   .servicos__card-title {
    font-size: 2vw;
    margin-bottom: 10px;
   }

   .servicos__card-text {
    font-size: 1.2vw;
    line-height: 1.3em;
   }

   .servicos__button {
    width: 30%;
    font-size: 1.2em;
   }

   .depoimentos__title {
    font-size: 4vw;
   }

   .depoimentos__persona {
    width: 30%;
   }

   .depoimentos__persona-img {
    width: 70px;
    margin: 5px 10px ;
   }

   .depoimentos__persona-nome {
    font-size: 1.5em;
    margin-top: 10px;
   }

   .depoimentos__persona-prof {
    font-size: 1em;
   }

   .depoimentos__persona-text {
    font-size: 1em;
   }

   .contato__area {
    width: 90%;
   }

   .contato__title {
    font-size: 4vw;
   }

   .contato__text {
    font-size: 1em;
   }

   .contato__input {
    width: 25%;
    font-size: 1em;
    border-radius: 5px;
    padding: 15px;
   }

   .contato__button {
    font-size: 1em;
    width: 20%;
   }
}





